@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "NexaScript_regular";
  src: url(/font/nexascript_regular.ttf) format("truetype");
}

@font-face {
  font-family: "NexaScript_bold";
  src: url(/font/nexascript_bold.ttf) format("truetype");
}

@font-face {
  font-family: "NexaScript_light";
  src: url(/font/nexascript_light.ttf) format("truetype");
}

@font-face {
  font-family: "NexaScript_thin";
  src: url(/font/nexascript_thin.ttf) format("truetype");
}

.nexa_thin {
  font-family: "NexaScript_thin", sans-serif;
}

.nexa_light {
  font-family: "NexaScript_light", sans-serif;
}

.nexa_bold {
  font-family: "NexaScript_bold", sans-serif;
}

.nexa {
  font-family: "NexaScript_regular", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.heading1 {
  font-size: 2.5rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 3rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

.heading2 {
  font-size: 2rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.heading3 {
  font-size: 1.5rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 2rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.heading4 {
  font-size: 1.25rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.heading5 {
  font-size: 1rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.description1 {
  font-size: 0.875rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.text {
  font-size: 0.875rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.4rem;
  width: 100%;

  @media screen and (max-width: 640px) {
    padding: 0 2rem;
  }
}

.slider {

  .pagination_0,
  .pagination_1,
  .pagination_2,
  .pagination_3,
  .pagination_4,
  .pagination_5,
  .pagination_6,
  .pagination_7,
  .pagination_8,
  .pagination_9,
  .bullets-Portfolio {
    .swiper-pagination-bullet {
      border: 2px solid #18685c;
      background-color: transparent;
      width: 0.7rem;
      height: 0.7rem;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #18685c;
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}

// .banner {
//   position: relative;
//   .pagination {
//     bottom: 5rem;
//     right: 30%;
//     position: absolute;
//   }
// }
.banner-pagination {
  bottom: 1rem;
  left: 50%;
  z-index: 10;

  .swiper-pagination-bullet {
    background-color: #c17362;
    width: 0.8rem;
    height: 0.8rem;
    // opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #c17362;
    width: 0.8rem;
    height: 0.8rem;
    opacity: 1;
  }
}