@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NexaScript";
  src: url(/font/NexaScript.otf) format("opentype");
}

.nexa {
  font-family: "NexaScript", sans-serif;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.heading1 {
  font-size: 2.5rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 3rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

.heading2 {
  font-size: 2rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.heading3 {
  font-size: 1.5rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 2rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.heading4 {
  font-size: 1.25rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.text {
  font-size: 0.875rem;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.4rem;
  width: 100%;

  @media screen and (max-width: 640px) {
    padding: 0 2rem;
  }
}


.slider {
  .pagination_0,
  .pagination_1,
  .pagination_2,
  .pagination_3,
  .pagination_4,
  .pagination_5,
  .pagination_6,
  .pagination_7,
  .pagination_8,
  .pagination_9,
  .bullets-Portfolio {
    .swiper-pagination-bullet {
      border: 2px solid #18685C;
      background-color: transparent;
      width: .7rem;
      height: .7rem;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #18685C;
      width: .7rem;
      height: .7rem;
    }
  }
}